@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.price__header {
  background-color: #C2E9EB;
  padding: 16px;
}

.price__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__out {
  padding: 12px;
  box-shadow: 0 0 12px 0.5px grey;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 544px;
  padding: 15px 20px;
  border-radius: 50px;
  border: grey 1px solid;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  color: #6D28D2;
  border: 1px solid #6D28D2;
  border-radius: 5px;
  padding: 11px 11.5px;
  font-family: Inter;
  font-weight: 700;
  font-size: 13.7px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.header__sign {
  color: white;
  border-radius: 5px;
  padding: 11px 11.5px;
  background-color: #6D28D2;
  font-family: Inter;
  font-weight: 700;
  font-size: 13.7px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.box {
  border-radius: 4px;
  border: 1px solid #6D28D2;
  padding: 20px;
}

.hero__out {
  background-image: url("/img/header bgi.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 64px;
  padding-bottom: 139.21px;
  padding-left: 72px;
}

.hero__inner {
  width: 392px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
}

.big__text {
  font-family: Noto Serif;
  font-weight: 700;
  font-size: 30.9px;
  line-height: 40px;
  letter-spacing: -0.16px;
  vertical-align: middle;
}

.hero__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14.9px;
  line-height: 22.4px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.type__out {
  padding-top: 48px;
}

.type__title {
  margin-bottom: 3px;
}

.type__text {
  margin-bottom: 13px;
}

.type__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.type-list__item {
  border: 1px solid #D1D2E0;
  max-width: 420px;
  padding: 16px;
  border-radius: 16px;
}

.type-item__img {
  margin-bottom: 16px;
}

.type-item__h4 {
  font-family: Inter;
  font-weight: 700;
  font-size: 17.6px;
  line-height: 21.6px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #2A2B3F;
  margin-bottom: 8px;
}

.type-item__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.4px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #595C73;
  margin-bottom: 17px;
}

.item__tag {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item-tag__baxo {
  color: #595C73;
  font-family: Inter;
  font-weight: 400;
  font-size: 10.7px;
  line-height: 14.4px;
  letter-spacing: 0.2px;
  vertical-align: middle;
  border: 1px solid #D1D2E0;
  padding-left: 23px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  padding-right: 3px;
}

.item-tag__ratings {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.4px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #595C73;
  border: 1px solid #D1D2E0;
  border-radius: 5px;
  padding: 2px 5px;
}

.item-tag__total {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.4px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #595C73;
  border: 1px solid #D1D2E0;
  border-radius: 5px;
  padding: 2px 5px;
}

.type__career {
  color: #6D28D2;
  border: 1px solid #6D28D2;
  padding: 5px;
  border-radius: 5px;
}

.type {
  margin-bottom: 50px;
}

.topics__inner {
  margin-bottom: 32px;
}

.topics__title {
  margin-bottom: 7.9px;
}

.topics__list {
  display: flex;
  justify-content: space-between;
}

.topics__img {
  margin-bottom: 8.12px;
}

.topics-item__title {
  margin-bottom: 3.69px;
}

.topics__text {
  margin-bottom: 4.39px;
}

.span {
  margin-bottom: 5.9px;
  display: flex;
}

.span2 {
  display: flex;
  margin-bottom: 10px;
  gap: 7.8px;
}

.bestseller {
  padding: 3px 7px;
  border-radius: 3px;
  background-color: #C2E9EB;
  color: #0D5261;
  text-decoration: none;
}

.alot__out {
  box-shadow: 0 0 5px 0.5px grey;
}

.alot__inner {
  padding: 15px 176px;
}

.alot__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alot__link {
  color: #303141;
}

.subheader__out {
  margin-top: 32px;
  margin-bottom: 32px;
}

.subheader__inner {
  display: flex;
  align-items: center;
  gap: 24px;
}

.create__inner {
  margin-top: 50px;
  background-color: #16161D;
  padding: 33px 24px;
  border-radius: 16px;
}

.black__queue {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.create__question {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
}

.create__unswer {
  color: #FFFFFF;
}

.create__udemy {
  color: #16161D;
  background-color: #FFFFFF;
  padding: 10px 11px;
  border-radius: 4px;
}

.create__udemye {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 13px;
}

.next__out {
  margin-top: 28px;
}

.next__title {
  font-family: Georgia;
  font-weight: 700;
  font-size: 30.88px;
  line-height: 40px;
  letter-spacing: -0.16px;
}

.next__box {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.next__box-text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  color: #2A2B3F;
}

.next__box-link {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.title {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.item__h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  width: 216px;
  margin-bottom: 4px;
}

.item__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #595C73;
}

.otsenka {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.otsenka__text {
  color: #8B4309;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
}

.prices {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.newprice {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.del {
  color: #595C73;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: line-through;
}

.secondpart {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.tipical__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 73px;
}

.tipical__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipical__text {
  width: 246.4700012207px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
}

.tayout {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.itemes {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.Carousel {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.topp {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.bus {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.it {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.develoment {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.wod {
  margin-top: 92px;
  display: flex;
  align-items: center;
  width: 1444px;
  overflow: scroll;
  gap: 20px;
}

.priceed__item {
  border: 1px solid #6D28D2;
  border-radius: 10px;
  padding: 40px 24px;
}

.priceed__list {
  margin-top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceed__item-h4 {
  font-family: Noto Serif;
  font-weight: 700;
  font-size: 17.9px;
  line-height: 24.3px;
  letter-spacing: -0.09px;
  vertical-align: middle;
}

.priceed__item-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 11.4px;
  line-height: 16.8px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.priceed__item-boxbottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceed__item-link {
  background-color: #6D28D2;
  font-family: Inter;
  font-weight: 700;
  font-size: 15.6px;
  line-height: 19.2px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: white;
  padding: 14px 106px;
}

.al__text {
  margin-top: 20px;
}

.topics__inner {
  margin-bottom: 32px;
}

.topics__title {
  margin-bottom: 7.9px;
}

.topics__list {
  display: flex;
  justify-content: space-between;
}

.topics__img {
  margin-bottom: 8.12px;
}

.topics-item__title {
  margin-bottom: 3.69px;
}

.topics__text {
  margin-bottom: 4.39px;
}

.span {
  margin-bottom: 5.9px;
  display: flex;
}

.span2 {
  display: flex;
  margin-bottom: 10px;
  gap: 7.8px;
}

.bestseller {
  padding: 3px 7px;
  border-radius: 3px;
  background-color: #C2E9EB;
  color: #0D5261;
  text-decoration: none;
}

.hamilton {
  padding: 60px 0;
  font-family: Arial, sans-serif;
}

.hamilton__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.hamilton__left {
  flex: 1;
  max-width: 550px;
}

.hamilton__left h4 {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.hamilton__left h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1d1d3f;
  margin-bottom: 25px;
}

.hamilton__stats {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.stat h3 {
  font-size: 32px;
  color: #1d1d3f;
  margin: 0;
}

.stat p {
  font-size: 14px;
  color: #666;
}

.btn {
  background: #6c2bd9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hamilton__right {
  flex: 1;
  text-align: center;
}

.hamilton__right img {
  max-width: 100%;
  border-radius: 10px;
}

.footer__top {
  background-color: #1D1E27;
  border-bottom: 1px solid #B7B9CD;
  padding-top: 22px;
  padding-bottom: 22px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-inner-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__teach-title {
  color: white;
}

.footer__teacher-text {
  color: white;
}

.footer__top-btn {
  width: 134.6300048828px;
  height: 40px;
  color: white;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.footer__teach-bisness {
  text-decoration: none;
  color: #C0C4FC;
}

.footer__top-inner-3 {
  background-color: #1D1E27;
  padding-top: 41.5px;
  margin-bottom: 24px;
}

.footer__inner-bottom {
  background-color: #111116;
  padding-top: 41.5px;
  margin-bottom: 24px;
  border-bottom: 1px solid #9194AC;
}

.footer__title {
  font-family: Georgia;
  font-weight: 700;
  font-size: 17.72px;
  line-height: 24.3px;
  letter-spacing: -0.09px;
  color: #FFFFFF;
}

.footer__top-list {
  margin-bottom: 40.01px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.footer__list-title {
  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-top: 40.79px;
}

.hover {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.footer__list-text:hover {
  color: #B7B9CD;
}

.footer__bottom-inner-2 {
  display: flex;
  padding-top: 25px;
  padding-bottom: 24px;
  justify-content: space-between;
  border-top: 1px solid #9194AC;
}

.footer__bottom-inner-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.banner {
  background: linear-gradient(#FFE1B2, #F5B448);
  padding: 48px 74px;
}

.banner__inner {
  background-color: #ffffff;
  border-radius: 32px;
  padding: 48px;
  display: flex;
  width: 1292px;
  gap: 131.56px;
}

.banner__title {
  margin-bottom: 14.6px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
}

.banner__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0%;
  color: #2A2B3F;
}

.banner__list {
  display: flex;
  gap: 47.8px;
  margin-bottom: 24px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0%;
}

.banner__down {
  display: flex;
  gap: 9.22px;
  align-items: center;
  margin-bottom: 21.15px;
}

.banner__btn {
  background-color: #6D28D2;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.fledged__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  margin-top: 48px;
}

.fledged__list {
  display: flex;
}

.fledged__item {
  width: 475px;
  height: 181.5899963379;
  top: 110.39px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(6, 17, 118, 0.0784313725);
  box-shadow: 0px 2px 4px 0px rgba(6, 17, 118, 0.0784313725);
  display: flex;
  padding: 24px;
  margin-bottom: 48.01px;
}

.fledged-item__title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
}

.fledged__text {
  margin-bottom: 46.4px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0%;
}

.fledged__link {
  text-decoration: none;
}

.fledged__title2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  margin-bottom: 23.99px;
}

.fledged__list2 {
  display: flex;
  gap: 16px;
  margin-bottom: 47.99px;
}

.fledged__item2:nth-child(1) {
  border: 1px solid #E9EAF2;
  height: 74.5;
  border-radius: 16px;
  border-width: 1px;
  width: 262px;
  display: flex;
  padding: 17px 25px;
  gap: 21.05px;
}

.fledged__item2:nth-child(2) {
  border: 1px solid #E9EAF2;
  height: 74.5;
  border-radius: 16px;
  border-width: 1px;
  width: 215px;
  display: flex;
  padding: 17px 25px;
  gap: 21.05px;
}

.fledged__item2:nth-child(3) {
  border: 1px solid #E9EAF2;
  height: 74.5;
  border-radius: 16px;
  border-width: 1px;
  width: 215px;
  display: flex;
  padding: 17px 25px;
  gap: 21.05px;
}

.fledged__item2:nth-child(4) {
  border: 1px solid #E9EAF2;
  height: 74.5;
  border-radius: 16px;
  border-width: 1px;
  width: 215px;
  display: flex;
  padding: 17px 25px;
  gap: 21.05px;
}

.fledged__item2:nth-child(5) {
  border: 1px solid #E9EAF2;
  height: 74.5;
  border-radius: 16px;
  border-width: 1px;
  width: 215px;
  display: flex;
  padding: 17px 25px;
  gap: 21.05px;
}

.fledged__item2-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  margin-bottom: 3.7px;
}

.break {
  background-color: #16161D;
  padding: 64px 183px;
}

.break__inner {
  display: flex;
  gap: 146px;
}

.break__right {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 352.8699951172px;
}

.included-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.included-info p {
  margin: 8px 0;
  font-size: 16px;
}

.break__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.break__text {
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: 0%;
}/*# sourceMappingURL=style.css.map */