
.alot__out {
    box-shadow: 0 0 5px 0.5px grey;

}
.alot__inner {
    padding: 15px 176px;
}
.alot__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alot__item {
}
.alot__link {
    color: #303141;
}