.fledged {}

.fledged__inner {}

.fledged__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;

    margin-top: 48px;
}

.fledged__list {
    display: flex;
}

.fledged__item {
    width: 475px;
    height: 181.58999633789062;
    top: 110.39px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px 0px #06117614;
    box-shadow: 0px 2px 4px 0px #06117614;
    display: flex;
    padding: 24px;
    margin-bottom: 48.01px;
}

.fledged-item__title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;

}

.fledged__text {
    margin-bottom: 46.4px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;

}

.fledged__link {
    text-decoration: none;

}

.fledged__title2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;
    margin-bottom: 23.99px;
}

.fledged__list2 {
    display: flex;
    gap: 16px;
    margin-bottom: 47.99px;
}

.fledged__item2:nth-child(1) {
    border: 1px solid #E9EAF2;
    height: 74.5;
    border-radius: 16px;
    border-width: 1px;
    width: 262px;
    display: flex;
    padding: 17px 25px;
    gap: 21.05px;
}

.fledged__item2:nth-child(2) {
    border: 1px solid #E9EAF2;
    height: 74.5;
    border-radius: 16px;
    border-width: 1px;
    width: 215px;
    display: flex;
    padding: 17px 25px;
    gap: 21.05px;
}

.fledged__item2:nth-child(3) {
    border: 1px solid #E9EAF2;
    height: 74.5;
    border-radius: 16px;
    border-width: 1px;
    width: 215px;
    display: flex;
    padding: 17px 25px;
    gap: 21.05px;
}

.fledged__item2:nth-child(4) {
    border: 1px solid #E9EAF2;
    height: 74.5;
    border-radius: 16px;
    border-width: 1px;
    width: 215px;
    display: flex;
    padding: 17px 25px;
    gap: 21.05px;
}

.fledged__item2:nth-child(5) {
    border: 1px solid #E9EAF2;
    height: 74.5;
    border-radius: 16px;
    border-width: 1px;
    width: 215px;
    display: flex;
    padding: 17px 25px;
    gap: 21.05px;
}


.fledged__item2-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    margin-bottom: 3.7px;
}

.fledged__list2-text {}

.break {
    background-color: #16161D;
    padding: 64px 183px;
}

.container {}

.break__inner {
    display: flex;
    gap: 146px;
}

 .break__right {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 352.8699951171875px;
  }

  .included-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .included-info p {
    margin: 8px 0;
    font-size: 16px;
}

.break__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.break__text {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0%;

}

.banner__down {}

.banner__btn {}

