.price__header {
    background-color: #C2E9EB;
    padding: 16px;
}
.price__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
}
