.type__out {
    padding-top: 48px;
}


.type__title {
    margin-bottom: 3px;
}

.type__text {
    margin-bottom: 13px;
}

.type__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.type-list__item {
    border: 1px solid #D1D2E0;
    max-width: 420px;
    padding: 16px;
    border-radius: 16px;
}

.type-item__img {
    margin-bottom: 16px;
}

.type-item__h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 17.6px;
    line-height: 21.6px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #2A2B3F;
    margin-bottom: 8px;
}

.type-item__text {
    font-family: Inter;
    font-weight: 400;
    font-size: 11.4px;
    line-height: 16.8px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #595C73; 
    margin-bottom: 17px;
}

.item__tag {
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-tag__baxo {
    color: #595C73;
    font-family: Inter;
    font-weight: 400;
    font-size: 10.7px;
    line-height: 14.4px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    border: 1px solid #D1D2E0;
    padding-left: 23px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    padding-right: 3px;
}

.item-tag__ratings {
    font-family: Inter;
    font-weight: 400;
    font-size: 11.4px;
    line-height: 16.8px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #595C73;
    border: 1px solid #D1D2E0;
    border-radius: 5px;
    padding: 2px 5px;
}

.item-tag__total {
    font-family: Inter;
    font-weight: 400;
    font-size: 11.4px;
    line-height: 16.8px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #595C73;
    border: 1px solid #D1D2E0;
    border-radius: 5px;
    padding: 2px 5px;
}










.type__career{
    color: #6D28D2;
    border: 1px solid #6D28D2;
    padding: 5px;
    border-radius: 5px;
}

.type{
    margin-bottom: 50px;
}